@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './element-variables.scss';
@import './sidebar.scss';

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

label {
  font-weight: 700;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

.page-container {
  max-height: calc(100vh - 50px);
}

.el-header {
  padding-top: 20px;
}
